<%- include('layout/header') -%>
<div class="container green-row">
    <div class="max-1200">
        <div class="place">
            <h1 class="whereami">LOG IN</h1>
        </div>
    </div>
</div>
<div class="container autorize">
    <div class="login-box" style="padding: 100px 0; height: 200px; margin: auto; display: flex; flex-direction: column; width: 290px; justify-content: space-around ">
        <input id="login" type="text" class="username" placeholder="Username">
        <input id="password" type="password" class="password" placeholder="Password">
        <button id="login-btn" class="login-btn">LOG IN</button>
        <a href="/forgotpass">Forgot Password?</a>
    </div>
</div>
<%- include('layout/footer') -%>