<%- include('layout/header') -%>
<div class="container green-row">
    <div class="max-1200">
        <div class="place">
            <h1 class="whereami">CHECK OUT OUR WORK</h1>
        </div>
        <%- include('layout/login') -%>
    </div>
</div>
<div class="portfolio-box">
    <div class="portfolio">
        <%- include('layout/portfolio-nav') -%>
        <div class="portfolio-images" id="output">
            <!-- images -->
        </div>
    </div>
</div>
<div class="container impressed">
    <div class="max-1200 question-btn-box">
        <div class="question">
            <p>ARE YOU IMPRESSED BY OUR CREATIVITY?</p>
        </div>
        <div>&nbsp;</div>
        <div class="btn">
            <a href="/contact">CONTACT US RIGHT NOW</a>
        </div>
    </div>
</div>
<%- include('layout/footer') -%>
