<%- include('layout/header') -%>
<div class="container green-row">
    <div class="max-1200">
        <div class="place">
            <h1 class="whereami">LOG IN</h1>
        </div>
    </div>
</div>
<div class="container newpass">
    <div class="login-box" style="padding: 50px 0 100px; height: 40vh; margin: auto; display: flex; flex-direction: column; width: 290px; justify-content: space-around ">
        <input id="pass-reset-login" style="visibility: hidden" type="password" placeholder="hidden" value="<%= login %>" disabled>
        <input id="first-password" type="password" class="password" placeholder="Enter New Password">
        <input id="second-password" type="password" class="password" placeholder="Confirm Password">
        <button id="new-pass" class="login-btn">RESET</button>
    </div>
</div>
<%- include('layout/footer') -%>