.container.newpass {
  .login-box {
    #pass-reset-login, #first-password, #second-password{
      color: #322f2f;
      margin: 16px 10px 22px 0;
      padding: 4px 6px;
      border: none;
      border-bottom: 1px solid #8a8888;
    }
    #new-pass {
      border: 1px solid #2ecc71;
      color: #2ecc71;
      background-color: #ffffff;
      font-size: 13px;
      padding: 20px 16px 20px;
      font-family: Novecento;
      height: 60px;
    }
  }
}