<div id="fail" class="hide">
    <div style="width: 50%;
                height: 100px;
                padding-top: 55px;
                background-color: #FF4F46;
                color: white;
                margin: auto;
                text-align: center;
                border: 1px solid #FFFFFF; ">
        Login Fail
    </div>
</div>
<div id="login-accepted" class="hide">
    <div style="width: 50%;
                height: 100px;
                padding-top: 55px;
                background-color: #2ecc71;
                color: white;
                margin: auto;
                text-align: center;
                border: 1px solid #FFFFFF; ">
        You Entered!
    </div>
</div>