<div class="container footer-color">
    <div class="footer max-1200">
        <div>
            <p>COPYRIGHT <span>2013</span> DISPLAY. ALL RIGHTS RESERVED</p>
        </div>
        <ul class="footer-nav">
            <li class="footer-link"><a href="/home">HOME</a></li>
            <li class="footer-link center">/</li>
            <li class="footer-link"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>