<!DOCTYPE html>
<html>
<head>
    <title>Display</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width">
    <base href="http://localhost:3000/">
    <link rel="shortcut icon" href="favicon.png" type="image/png">

</head>
<body>
<%- include('fail') -%>
<div class="container">
    <div class="header max-1200">
        <div class="logo-socials">
            <div class="logo-box">
                <div class="logo"></div>
            </div>
            <ul class="socials-box">
                <li class="social-link"><a href=""><div class="twitter"></div></a></li>
                <li class="social-link"><a href=""><div class="fb"></div></a></li>
                <li class="social-link"><a href=""><div class="rss"></div></a></li>
                <li class="social-link"><a href=""><div class="pint"></div></a></li>
                <li class="social-link"><a href=""><div class="ggl"></div></a></li>
                <li class="social-link"><a href=""><div class="dribble"></div></a></li>
            </ul>
        </div>
        <ul class="nav">
            <li class="nav-link"><a href="/home">HOME</a></li>
            <li class="nav-link"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
</div>
