<div class="login-box">
    <input id="login" type="text" class="username" placeholder="Username">
    <input id="password" type="password" class="password" placeholder="Password">
    <button id="login-btn" class="login-btn">LOG IN</button>
</div>
