<%- include('header') -%>
<div class="container green-row">
    <div class="max-1200">
        <div class="place">
            <h1 class="whereami">LOG IN</h1>
        </div>
    </div>
</div>
<div class="container reset">
    <div class="login-box" style="padding: 100px 0; height: 200px; margin: auto; display: flex; flex-direction: column; width: 290px; justify-content: space-around ">
        <p><%= info %></p>
        <input id="login-for-reset" type="text" class="username" placeholder="Username">
        <button id="reset-pass" class="login-btn">RESET</button>
    </div>
</div>
<%- include('footer') -%>