<ul class="portfolio-nav">
    <li id="all-link">ALL&nbsp;</li>
    <li id="print-link">&nbsp;/&nbsp;&nbsp;PRINT&nbsp;</li>
    <li id="photo-link">&nbsp;/&nbsp;&nbsp;PHOTOGRAPHY&nbsp;</li>
    <li>&nbsp;/&nbsp;&nbsp;
        <span id="web-link">WEB</span>&nbsp;&nbsp;/&nbsp;&nbsp;
        <span id="app-link">APPLICATIONS</span>&nbsp;
    </li>
</ul>

